<div class="container g-bd" ng-controller="blogIndexCtrl">
    <div class="g-bdc">
        <div class="g-mn">
            <div class="publishBarArea">
                <ul class="m-nav2">
                    <li class="user">
                        <a href="http://fiber.lofter.com/"><img src="img/3100446868485815285.jpg"></a>
                    </li>
                    <li><a class="publishlink n21">文字</a></li>
                    <li><a class="publishlink n22">图片</a></li>
                    <li><a class="publishlink n23">音乐</a></li>
                    <li><a class="publishlink publishlink-video n24">视频</a></li>
                    <li>
                        <iframe allowtransparency="true" frameborder="0" width="140" height="110" scrolling="no" src="http://tianqi.2345.com/plugin/widget/index.htm?s=2&z=1&t=1&v=1&d=1&bd=0&k=000000&f=&q=1&e=0&a=1&c=59493&w=140&h=110&align=center"></iframe>
                        <div class="n25"></div>
                    </li>
                </ul>
            </div>
            <div class="m-mlist">
                <div class="mlistimg">
                    <div class="w-img">
                        <a href="#">
                            <img src="img/3100446868485815285.jpg">
                        </a>
                    </div>
                </div>
                <div class="mlistcnt">
                    <div class="isay">
                        <div class="isayt"></div>
                        <div class="isaym">
                            <div class="w-who"></div>
                            <div>
                                <div class="m-icnt">
                                    <h2 class="tit">测试标题</h2>
                                    <div class="cnt">
                                        <div class="img">
                                            <div class="imgc">
                                                <a>
                                                    <img width="164" src="http://imglf.nosdn.127.net/img/WmI5N21xNThaekJKZUdrTHcvblkvMlJvL1pyNEZlZEF4MkM0V1FqK2Fzd2VPUGNsa3JXWjhnPT0.jpg?imageView&amp;thumbnail=500x0&amp;quality=96&amp;stripmeta=0&amp;type=jpg">
                                                    <span class="total">
                                                        16
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <p>Littering a dark and dreary road lay the past relics of browser-specific tags, incompatible DOMs, broken CSS support, and abandoned browsers.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-opt">
                                <div class="opta fa">
                                    <span class="opti">
                                        <a>
                                            <span>标签1</span>
                                        </a>
                                    </span>
                                    <span class="opti">
                                        <a>
                                            <span>标签2</span>
                                        </a>
                                    </span>
                                </div>
                                <div class="optb">
                                    <span class="opti">
                                        <a>编辑</a>
                                    </span>
                                    <span class="opti">
                                        <a>删除</a>
                                    </span>
                                    <span class="opti">
                                        <a>评论</a>
                                    </span>
                                    <span class="opti">
                                        <a>分享</a>
                                    </span>
                                    <span class="opti" style="display: none">
                                        <a>推荐</a>
                                    </span>
                                    <span class="opti" style="display: none">
                                        <a>喜欢</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="g-sd">
            <div class="g-box">
                <div class="m-menu">
                    <div class="menum">
                        <ul>
                            <li class="first large">
                                <a class="mi usname">
                                    <span class="txt">
                                        <span class="lg1">FiBer</span>
                                        <span class="lg2">fiber.lofter.com</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a class="mi">
                                    <span class="fa fa-newspaper-o"></span>
                                    <span class="txt">文章</span>
                                    <span class="inf inf-1">5</span>
                                </a>
                            </li>
                            <li>
                                <a class="mi">
                                    <span class="fa fa-heart"></span>
                                    <span class="txt">喜欢</span>
                                    <span class="inf inf-1">5</span>
                                </a>
                            </li>
                            <li>
                                <a class="mi">
                                    <span class="fa fa-users"></span>
                                    <span class="txt">粉丝</span>
                                    <span class="inf inf-1">5</span>
                                </a>
                            </li>
                            <li>
                                <a class="mi">
                                    <span class="fa fa-eye"></span>
                                    <span class="txt">关注</span>
                                    <span class="inf inf-1">5</span>
                                </a>
                            </li>
                            <li>
                                <a class="mi">
                                    <span class="fa fa-bell"></span>
                                    <span class="txt">通知</span>
                                    <span class="inf inf-1">5</span>
                                </a>
                            </li>
                            <li>
                                <a class="mi">
                                    <span class="fa fa-envelope"></span>
                                    <span class="txt">私信</span>
                                    <span class="inf inf-1">5</span>
                                </a>
                            </li>
                            <li class="noipt">
                                <a class="mi mi-noipt">
                                    <span class="fa fa-cog"></span>
                                    <span class="txt">个人主页设置</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>