<div class="container g-bd">
    <div class="g-bdc">
        <div class="g-mn">
            <div class="publishBarArea">
                <ul class="m-nav2">
                    <li class="user">
                        <a href="http://fiber.lofter.com/"><img src="img/3100446868485815285.jpg"></a>
                    </li>
                    <li><a bakhref="/blog/fiber/new/text/" href="#publish=text" class="publishlink n21">文字</a></li>
                    <li><a bakhref="/blog/fiber/new/photo/" href="#publish=photo" class="publishlink n22">图片</a></li>
                    <li><a bakhref="/blog/fiber/new/music/" href="#publish=music" class="publishlink n23">音乐</a></li>
                    <li><a bakhref="/blog/fiber/new/video/" href="#publish=video" class="publishlink publishlink-video n24">视频</a></li>
                </ul>
            </div>
        </div>
        <div class="g-sd">

        </div>
    </div>
</div>