<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th><th>Type</th><th>Length</th><th>Not null</th><th>Key</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="column in columns">
        <td><input ng-model="column.name"></td>
        <td><input ng-model="column.type"></td>
        <td><input ng-model="column.length"></td>
        <td><input ng-model="column.isNull" type="checkbox"></td>
        <td><input ng-model="column.isPrimaryKey" type="checkbox"></td>
    </tr>
    <tr>
        <td colspan="5" ng-click="addColumn()"><span class="fa fa-plus"></span></td>
    </tr>
    </tbody>
</table>