<div class="db-wrapper" ng-controller="dbCtrl">
	<div id="network" class="vis-network"></div>
	<div id="INFO" ng-class="{true:'info-onfocus'}[info_onfocus]">
		<form class="form-inline">
			<div class="input-group">
				<input type="text" ng-model="keyword" placeholder="Search for..." class="form-control" ng-focus="infoOnfocus()" ng-blur="infoOnblur()">
				<span class="input-group-btn">
					<button ng-click="search($event)" class="btn btn-default">搜索</button>
				</span>
			</div>
		</form>
	</div>
</div>