<div class="container-fluid" ng-controller="testCtrl">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">日期测试</label>
            <div class="col-sm-8">
                <input class="form-control" form-date>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">FormSelect</label>
            <div class="col-sm-8">
                <input class="form-control" form-select="user@users user.name&user.id/user.age" ng-model="user.id">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">FormSelectPanel</label>
            <div class="col-sm-8">
                <input class="form-control" form-select-panel="book@books book.name&book.id/book.type" ng-model="book.id">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">DDSelect</label>
            <div class="col-sm-8">
                <input class="form-control" dd-select="d@demandFrom d.name&d.vl|filterBy:{$index:0}" ng-model="dd.vl">
            </div>
        </div>
    </form>

    <div style="width: 400px;height: 250px;background-color: #3CA5EA" cc-upload-field>
        <h2>文件上传测试</h2>
        <div cc-file="f1">
            <div cc-file-preview></div>
            <button cc-file-add>ADD_FILE</button>
            <input ng-model="f1.fileId">
            <p>{{f1.name}}{{f1.progress}}</p>
        </div>
        <div cc-file="f2">
            <button cc-files-add>ADD_FILES</button>
            <input ng-model="f2.fileId">
        </div>
        <button cc-upload-start>START_UPLOAD</button>
    </div>
</div>