<div class="container-fluid">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">产品名称</label>
            <div class="col-sm-5">
                <input class="form-control" ng-model="product.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">产品代号</label>
            <div class="col-sm-5">
                <input class="form-control" ng-model="product.code">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">产品负责人</label>
            <div class="col-sm-5">
                <input class="form-control" ng-model="product.productPIC">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">测试负责人</label>
            <div class="col-sm-5">
                <input class="form-control" ng-model="product.testPIC">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">发布负责人</label>
            <div class="col-sm-5">
                <input class="form-control" ng-model="product.releasePIC">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">产品描述</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" cc-editor ng-model="product.introduction"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">访问控制</label>
            <div class="col-sm-10">
                <div class="radio">
                    <label>
                        <input type="radio" name="accessType" value="public" ng-model="product.accessType" ng-checked="product.accessType=='public'">公开(所有人可访问)
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="accessType" value="private" ng-model="product.accessType" ng-checked="product.accessType=='private'">私有(自己可以访问)
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="accessType" value="protect" ng-model="product.accessType" ng-checked="product.accessType=='protect'">保护(指定人可访问)
                    </label>
                </div>
                <div ng-if="product.accessType=='protect'">
                    <label class="checkbox-inline" ng-repeat="role in allRoles">
                        <!--
                        checked在数据库中查出结果为0/1/null不是true/false,checkbox默认值是true/false,
                        所以ng-model绑定的role.checked为1时checkbox不会选中
                        所以需要设置ng-true-value和ng-false-value
                        -->
                        <input type="checkbox" ng-model="role.checked" ng-true-value="1" ng-false-value="0">{{role.code}}
                    </label>
                </div>
            </div>
        </div>

    </form>
</div>