<div class="container-fluid">
    <fieldset class="shadow-box">
        <legend class="btn" ng-click="add()">+product.</legend>
        <table class="table">
            <thead>
                <tr><th>产品名称</th><th>产品负责人</th><th>创建日期</th><th>操作</th></tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products">
                    <td>{{product.name}}</td>
                    <td>{{product.productPIC}}</td>
                    <td>{{product.createdDate|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>
                        <button class="btn shadow-box" ng-click="demand(product)">需求</button>
                        <button class="btn shadow-box" ng-click="update(product)">编辑</button>
                        <button class="btn shadow-box" ng-click="remove(product)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="pagination"></div>
    </fieldset>
</div>