<div class="container-fluid" ng-controller="mavenSearchCtrl">
    <fieldset class="shadow-box">
        <legend class="btn">ADVANCED SEARCH.</legend>
        <div class="row">
            <div class="col-lg-12">
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." ng-model="keyword">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="search($event)">搜索</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>GroupId</th><th>ArtifactId</th><th>最新版本</th><th>版本数</th><th>更新日期</th><th>下载</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="result in results">
                <td>
                    <a ng-bind-html="result.g|highlight:keyword" ng-click="search($event,'g:'+result.g)"></a>
                </td>
                <td>
                    <a ng-bind-html="result.a|highlight:keyword" ng-click="search($event,'a:'+result.a)"></a>
                </td>
                <td ng-if="result.latestVersion">
                    <a ng-bind-html="result.latestVersion|highlight:keyword" ng-click="search($event,'g:'+result.g+' AND v:'+result.latestVersion,'gav')"></a>
                </td>
                <td ng-if="result.v">
                    <a ng-bind-html="result.v|highlight:keyword" ng-click="search($event,'g:'+result.g+' AND v:'+result.v,'gav')"></a>
                </td>
                <td>
                    <a ng-bind-html="result.versionCount|highlight:keyword" ng-click="search($event,'g:'+result.g+' AND a:'+result.a,'gav')"></a>
                </td>
                <td ng-bind-html="result.timestamp|date:'yyyy-MM-dd hh:mm:ss'|highlight:keyword"></td>
                <td>
                    <div ng-repeat="p in result.ec">
                        <a ng-bind-html="p|highlight:keyword" ng-click="download(result,p)"></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="pagination"></div>
    </fieldset>
</div>