li {
  list-style: outside none none;
}
.g-bd {
  margin: 0 auto;
  text-align: left;
  width: 928px;
}
.g-mn {
  float: left;
  width: 674px;
}
.publishBarArea {
  .m-nav2 {
    opacity: 1;
    transition: opacity 0.35s ease 0s,visivility 0.35s ease 0s;
  }
}
.m-nav2 {
  background-position: 0 0 !important;
  margin: 0 0 18px;
  padding: 1px 2px 3px;
  position: relative;
  z-index: 9;
  height: 110px;
  .m-nav2 {
    li {
      height: 110px;
    }
    a {
      height: 110px;
    }
  }
  li,a {
    height: 110px;
  }
  li {
    float: left;
    margin: 0 0 -1px;
    width: 140px;
  }
  a {
    display: block;
    overflow: hidden;
    text-indent: -2000px;
    width: 100%;
    &.publishlink {
      overflow: visible;
      position: relative;
    }
  }
  .user {
    position: relative;
    width: 110px;
    img {
      display: block;
      height: 110px;
      width: 110px;
    }
  }
}
.m-nav2,
.m-nav2 a,
.m-activity-1 .m-nav2 span {
  background: transparent url("../img/nav224.png") no-repeat scroll 999px 999px;
}