@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(../fonts/toadOcfmlt9b38dHJxOBGIAPdqzPmKFFIYQ-46z3JxY.woff2) format('woff2');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../fonts/toadOcfmlt9b38dHJxOBGCP2LEk6lMzYsRqr3dHFImA.woff2) format('woff2');
}
@main-color:#53e3a6;
@main-color-dark:#23c416;
@second-color:#e8faaa;
@three-color:#767676;
@main-bg-color:#e8faff;
@main-border-color:#e5e5e5;
.transition () {
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.shadow-box {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}
.shadow-text {
  text-shadow: 4px 4px 2px darkgrey;
}
html,body {
  margin: 0;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
a {
  &:hover {
    cursor: pointer;
  }
  &:active,
  &.active,
  &:focus{
    outline: none !important;
  }
}
.help-block {
  * {
    &:not(.cc-show) {
      display: none;
    }
  }
}
pre {
  background-color: black;
  .shadow-box;
  word-wrap: normal;
  border-radius: 0;
  border: 1px solid white;
  color: snow;
  code {
    white-space: pre;
  }
}
dl {
  margin: 0;
}
.navbar-toggle {
  border-radius: 0;
  border: none;
}
.shadow-input {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(200, 230, 150, 0.6);
}
.table {
  td {
    button.btn,a.btn {
      background-color: @main-bg-color;
      border-top: 2px solid @second-color;
    }
  }
}
fieldset {
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  legend {
    border: none;
    width: auto;
    margin: 0;
    &.btn,a.btn {
      color: @main-color-dark;
    }
  }
}

.f-from-select(){
  &[readonly] {
    background: none;
  }
  &:focus {
    ~.form-control-feedback {
      color: @main-color;
      animation: 2s linear 0s normal none infinite running fa-spin;
    }
    ~.dropdown-menu {
      display: block !important;
    }
  }
}
.from-select-dropdown-menu(){
  margin-left: 15px;
  max-height: 350px;
  overflow-y: auto;
  right: 15px;
  &:hover {
    display: block;
  }
  .search-bar {
    padding: 10px;
  }
}
input {
  &:focus {
    color: @main-color;
  }
  &.form-select {
    .f-from-select;
    ~.dropdown-menu {
      .from-select-dropdown-menu;
      .dropdown-header {
        color: @main-color;
        background-color: @main-bg-color;
      }
    }
  }
  &.form-select-panel {
    .f-from-select;
    ~.dropdown-menu {
      .from-select-dropdown-menu;
      .panel {
        border: none;
        box-shadow: none;
        margin: 0;
        .panel-heading {
          border-radius: 20px;
          color: @main-color;
          background-color: @main-bg-color;
          border: none;
          padding: 0 10px;
        }
        .panel-body {
          padding: 5px;
          >span {
            padding: 4px;
            display: inline-block;
            min-width: 50px;
            text-align: center;
            border-radius: 5px;
            &:hover {
              color: @main-color;
              cursor: pointer;
              background-color: @main-bg-color;
            }
          }
        }
      }
    }
  }
  &.dd-select {
    .form-select;
  }
}
.form-control {
  &:focus {
    border-color: @main-color;
    .shadow-input;
    outline: 0 none;
  }
}
#pagination {
  float: right;
}
#page-wrapper {
  background-color: white;
  height: 100%;
  width: 100%;
  @media (min-width: 768px) {
    margin: 0;
    padding: 60px 30px 0 280px;
    border-left: 1px solid @main-border-color;
  }
}
.list-group-item {
  padding: 0;
  border-top: none;
}
.sidebar {
  @media (min-width: 768px) {
    top: 0;
    bottom: 0;
    margin-top: 51px;
    position: fixed;
    width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
  }
  .sidebar-nav {
    &.navbar-collapse {
      padding-left: 0;
      padding-right: 0;
    }
    ul {
      &:extend(.list-group-item);
      li {
        list-style: none;
        line-height: 45px;
        border-bottom: 1px solid @main-border-color;
        >a,>span {
          display: block;
          >span {
            display: inline-block;
            margin-right: 5px;
          }
        }
        >a {
          padding-left: 30px;
          outline: none;
          &:hover,&:active,&:focus {
            background-color: @main-bg-color;
            border-right: 4px solid @second-color;
            text-decoration: none;
          }
        }
        >span {
          padding-left: 20px;
          border-bottom: 1px solid @main-border-color;
          >span {
            &:last-child {
              float: right;
              line-height: 45px;
              .transition;
            }
          }
        }
        &.active {
          background-color: #e8faff;
          border-right: 4px solid #e8faaa;
          text-decoration: none;
          >a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
.table {
  >thead {
    >tr {
      >th {
        vertical-align: middle;
      }
    }
  }
  td {
    vertical-align: middle !important;
  }
  >tbody {
    >tr {
      >td {
        &:first-child {
          span {
            display: inline;
            font-size: 20px;
          }
        }
        span {
          .shadow-text;
        }
      }
    }
  }
}
.plus-td {
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    background-color: @main-bg-color;
    border-color: @second-color;
  }
}
.searching {
  .show-plate {
    width: 34%;
  }
  .search-plate {
    border: 1px solid transparent;
    border-right-color: @main-border-color;
    width: 66%;
    * {
      opacity: 1;
    }
  }
}
.search-plate {
  min-height: 400px;
  display: inline-block;
  border-color: @main-border-color;
  width: 0%;
  position: relative;
  .transition;
  transition-property: width,border;
  * {
    opacity: 0;
    .transition;
    transition-property:opacity;
  }
  span {
    &.btn {
      right: 0;
      position: absolute;
    }
  }
}
.show-plate {
  min-height: 400px;
  position: relative;
  border: 1px solid transparent;
  float: right;
  width: 100%;
  .transition;
  transition-property: width;
}

.modal-dialog {
  table {
    input {
      width: 100%;
      border: none;
    }
  }
}

.vis-network {
  height: 100%;
  width: 100%;
  background-color: #F4F4EA;
  position: static;
  .btn {
    &.network-fullscreen {
      background: none;
      border: none;
      bottom: 32px;
      float: right;
      position: relative;
      &:hover {
        color: orange;
        cursor: pointer;
      }
    }
  }
}
.network-search {
  background-color: white;
  border-radius: 6px;
  height: 34px;
  opacity: 0.5;
  position: absolute;
  right: 80px;
  top: 80px;
  transition-property: width, height, padding, opacity, border,margin;
  .transition;
  width: 193px;
  margin-bottom: 0;
  .btn {
    &.close {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      &:hover {
        animation: 2s linear 0s normal none infinite running fa-spin;
      }
    }
  }
  .panel-heading {
    padding: 0;
    background: none;
    border: none;
    .input-group {
      width: 193px;
      .transition;
    }
  }
  .panel-body {
    padding: 0;
    display: none;
    .list-group {
      max-height: 278px;
      max-width: 328px;
      overflow-y: auto;
      overflow-x: hidden;
      margin-bottom: 0;
      .transition;
      .list-group-item {
        border-radius: 5px;
        margin: 5px;
        .list-group-item-heading {
          background-color: peachpuff;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          padding: 3px;
        }
        .list-group-item-text {
          padding: 5px 10px 10px;
        }
      }
    }
  }
  &.onfocus {
    border: 1px solid @main-border-color;
    height: 350px !important;
    width: 350px !important;
    padding: 20px 10px 10px !important;
    opacity: 1 !important;
    .panel-heading {
      .input-group {
        margin: 5px;
      }
    }
    .panel-body {
      display: block;
    }
    .btn {
      &.close {
        display: block;
      }
    }
  }
}
.log {
  fieldset {
    background-color: black;
    .log {
      color: red;
      font-size: 12px;
      max-height: 500px;
      overflow-y: auto;
      p {
        span {
          &.datetime {
            color: greenyellow;
          }
          &.thread {
            color: deepskyblue;
          }
          &.level {
            color: blue;
          }
          &.logger {
            color: forestgreen;
          }
          &.msg {
            color: lightblue;
          }
          &.class {
            color: seagreen;
          }
          &.method {
          	color: greenyellow;
          	font-size: 16px;
          }
          &.parameter {
            color: violet;
            font-size: 12px;
          }
        }
      }
    }
  }
}