/*@import url(http://fonts.useso.com/css?family=Source+Sans+Pro:200,300);*/
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(../fonts/toadOcfmlt9b38dHJxOBGIAPdqzPmKFFIYQ-46z3JxY.woff2) format('woff2');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../fonts/toadOcfmlt9b38dHJxOBGCP2LEk6lMzYsRqr3dHFImA.woff2) format('woff2');
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    background: #34495e none repeat scroll 0 0;
}
.shadow-box {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.sidebar {
    width: 340px;
    top: 50px;
    left: 0px;
    bottom: 0px;
    position: fixed;
    padding: 0 15px 0 0;
    background: white none repeat scroll 0 0;
}
.sidebar ul {
    color: #5f6f81;
    font-weight: 300;
    line-height: 60px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-transform: none;
    width: 100%;
}
.sidebar ul li {
	box-shadow: 0 1px #c6d0da inset;
    width: 100%;
    border-bottom: 1px solid #c6d0da;
}