@main-color:#53e3a6;
@second-color:#e8faaa;
@three-color:#767676;
@main-bg-color:#e8faff;
@main-border-color:#e5e5e5;

.pjm-main {
  .navbar-right {
    .dropdown-menu {
      .dropdown-submenu {
        .dropdown-menu {
          min-width: 100px;
        }
      }
    }
  }
  .pjm-wrapper {
    min-height: 500px;
  }
  .proj-sidebar {
    ul {
      padding-left: 0;
      li {
        >a {
          color: @three-color;
          display: block;
          font-size: 13px;
          font-weight: 500;
          padding: 4px 20px;
          &:focus,&:hover {
            border-left: 2px solid;
            background-color: transparent;
            color: @main-color;
          }
        }
        li {
          >a {
            font-size: 12px;
            font-weight: 400;
            padding-bottom: 1px;
            padding-left: 30px;
            padding-top: 1px;
            &:focus,&:hover {
              border-left: 1px solid;
              background-color: transparent;
              color: @main-color;
            }
          }
        }
      }
    }
  }
  footer {
    &.footer {
      border-top: 1px solid @main-border-color;
      color: @three-color;
      margin-top: 100px;
      padding-bottom: 40px;
      padding-top: 40px;
      text-align: center;
    }
    .footer-links {
      padding-left: 0;
      li {
        display: inline-table;
        padding: 0 2px;
      }
    }
  }
}