<div>
    <table class="table">
        <thead>
        <tr>
            <th>图标</th><th>名称</th><th>地址</th><th class="hidden-xs">父ID</th><th class="hidden-xs">根ID</th><th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="view in views">
            <td><span class="{{view.iconClass}}"></span></td><td>{{view.name}}</td><td>{{view.url}}</td><td class="hidden-xs">{{view.pid}}</td><td class="hidden-xs">{{view.idRoot}}</td>
            <td>
                <button class="btn shadow-box" ng-click="add(view)">添加</button>
                <button class="btn shadow-box" ng-click="update(view)">修改</button>
                <button class="btn shadow-box" ng-click="remove(view)">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="pagination"></div>
</div>