<div class="container-fluid" ng-controller="menuCtrl">
    <fieldset class="shadow-box">
        <legend class="btn" ng-click="add()">
            <span class="fa fa-plus"></span>Menu.
        </legend>
        <legend class="pull-right">
            <dl>
                <dt class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="showType" ng-model="showType" value="list">
                        <span class="fa fa-th-list"></span>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="showType" ng-model="showType" value="tree">
                        <span class="fa fa-tree"></span>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="showType" ng-model="showType" value="vis">
                        <span class="fa fa-pagelines"></span>
                    </label>
                </dt>
            </dl>
        </legend>
        <div ui-view="showType"></div>
    </fieldset>
</div>